---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Sobre mi">
    <a href="/">Incio</a>
    <a href="/about/">Sobre  mi</a>
    <h1>Sobre mi</h1>
    <p>
        Bienvenido a todos
    </p>
</Layout>