---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';
---

<Layout title="TecnoSoft">
	<h1 class="flex flex-row justify-center font-bold text-4xl my-4">Bienvenidos a mi pagina web</h1>
	<div class="flex flex-col justify-center text-center my-2 text-green-500">
		<p class="text-xl opacity-60">
			Un lugar d贸nde puedes aprender y encontrar informaci贸n interesante y otras cosas proximamente.
		</p>
		<button type="button">
			<a href="/blog/" class="my-10">
				Mi blog
			</a>
		</button>
	</div>
	<section class="m-w-screen bg-[#DCF2F1] h-20">
		<p class="flex flex-row justify-center">
			<Greeting client:load messages={["Programaci贸n", "Sucesos", "Inversi贸n", "Emprendimientos"]} />
		</p>
	</section>
</Layout>