---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<main class="mx-8 my-4">
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #DCF2F1;
		background-size: 224px;
		color: black;
	}
	html.dark {
    	background-color: #0F1035;
		color: #DCF2F1;
	}
	.dark .nav-links a {
		color: #DCF2F1;
		@media screen and (max-width: 767px){
			color: black;
		}
	}
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	Footer{
		margin-top: auto;
	}
</style>
